<footer>
    <div class="container-fluid">
        <div class="container">
            <section class="footer-content">
                <div class="row ">
                    <div class="col-xl-5 cls col-lg-4 col-md-4 col-sm-4 vir">
                        <p>©2020 - Scyla - Cosmetic WooCommerce Theme | All rights reserved</p>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 vir">
                        <div class="footer-social-media">
                            <div class="footer-social-icon">
                                <a href="" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                                <div class="footer-social-icon">
                                <a href="" target="_blank">
                                 <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                                <div class="footer-social-icon">
                                <a href="" target="_blank">
                                 <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                                <div class="footer-social-icon">
                                <a href="" target="_blank">
                                 <i class="fab fa-pinterest-p"></i>
                                </a>
                            </div>
                                <div class="footer-social-icon">
                                <a href="" target="_blank">
                                 <i class="fab fa-google-plus-g"></i>
                                </a>
                            </div>
                                <div class="footer-social-icon">
                                <a href="" target="_blank">
                                 <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 new-bloc col-lg-4 col-md-4 col-sm-4">
                        <nav>
                            <a href="#">Terms of Use</a> 
                            <a href="#">Help</a> 
                            <a href="#">Private Notice</a> 
                        </nav>
                    </div>
                   
                </div>
            </section>  
        </div>
    </div>
</footer>
<script src="./js/main.js"></script>
</body>

</html>
   