<main>
    <div class="conteiner-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 forgot-form">
                    <form action="" class="form-group-forgot">
                        <div class="input-container-forgot">
                            <i class="far fa-envelope icon-forgot"></i>
                            <input type="email" class="inp input-forgot" placeholder="Email">
                        </div>
                        <button type="submit" class="btn-type-two btn-forgot">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>