<main>
    <div class="container-fluid">
      <div class="container">
        <div class="row main-content-block">

<div class="index-body col-xl-12 col-lg-12 col-md-12" >
   
    <section class="content-adress-block">
        <div class="addressee-block">
            <div class="addressee-content">
              <img src="../img/User_Avatar.png" alt="user_avatar" />
              <h2><%= name %></h2>            
        
            </div>
          </div>
    </section>
    <section class="content-message-block">
        <div class="messages-block">
            <div class="content-messages">               
              <div class="input-message">
                <img src="../img/User_Avatar.png" alt="user_avatar" />
                  <div class="msg" style="margin: 10px 0 0 10px">
                    <p class="text">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <p class="time">11:00</p>
                  </div>
                
              </div>
              <div class="input-message">
                <img src="../img/User_Avatar.png" alt="user_avatar" style="width: 500;"/>
                <div class="msg"  style="margin: 10px 0 0 10px">                    
                    <p class="text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, autem.
                      </p>
                      <p class="time">11:00</p>
                </div>
                
              </div>
              <div class="input-message">
                <img src="../img/User_Avatar.png" alt="user_avatar" />
                  <div class="msg"  style="margin: 10px 0 0 10px">
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, autem.
                      </p>
                      <p class="time">11:00</p>
                  </div>
                
              </div>
        
              <!-- start output messages -->
              <div class="output-message">
                <div class="msg">
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, autem.
                      </p>
                      <p class="time">11:00</p>
                  </div>
              </div>
              <!-- end output messages -->
            </div>
          </div>
    </section>
    <section class="content-input-form">
        <div class="input-messages">
            
            <div class="input-content-microfone">
                <button class="microphone content-btn" type="submit">
                    <i class="fas fa-microphone"></i>
                  </button>
            </div>
              
            <div class="send-message">
                <form class="messages-form">
                    <input type="txt" placeholder=" Write a message..." />
                    <button type="submit" class="content-btn">
                      <i class="fas fa-paperclip"></i>
                    </button>
                  </form>
            </div>
            <button type="submit" class="btn-type-one btn-send-content">Send</button>
        </div>
    </section>
</div>
</div>
</div>
</div>
</main>