<header>
    <div class="container-fluid">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-xl-12">
                        <section class="header-register">
                            <div class="logo-register col-xl-5 col-lg-6 col-md-5 col-sm-4 col-10">
                                <p>ChatterBox</p>
                                <img src="img/logo.png" alt="logo_img" class="logo-img-register">
                                <img src="img/blabla.png" alt="logo_img" class="blabla-logo-img-register">
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>