<header>
  <div class="container-fluid">
    <div class="container">
      <section>
        <div class="row">
          <div class="col-xl-12">
            <section class="header-main">
              <div class="logo col-xl-5 col-lg-5 col-md-5 col-sm-4 col-10">
                <p>ChatterBox</p>
                <img src="/img/logo.png" alt="logo_img" class="logo-img" />
                <img
                  src="/img/blabla.png"
                  alt="logo_img"
                  class="blabla-logo-img"
                />
              </div>
              <div class="tree-switches col-xl-5 col-lg-5 col-md-5 col-sm-4">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
                <i class="fas fa-microphone-alt"></i>

                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
                <i class="fas fa-volume-down"></i>
              </div>

              <div
                class="header-user-dropdown col-xl-2 col-lg-2 col-md-2 col-sm-4 col-2"
              >
                <div class="user-dropdown">
                  <img src="/img/User_Avatar.png" alt="user_avatar" />
                  <i class="fas fa-angle-down"></i>
                </div>
                <div class="menu-wrap">
                  <input type="checkbox" class="toggler" />
                  <div class="hamburger">
                    <img src="/img/User_Avatar.png" alt="user_avatar" />
                  </div>
                  <div class="menu">
                    <div>
                      <div>
                        <p>Name Surname</p>
                        <ul>
                          <li class="item">
                            <a class="link-nav" href="/dashboard"> new group </a>
                          </li>
                          <li class="item">
                            <a class="link-nav" href="#"> new chat </a>
                          </li>
                          <li class="item">
                            <a class="link-nav" href="#"> contacts </a>
                          </li>
                          <li class="item">
                            <a class="link-nav" href="#"> history </a>
                          </li>
                          <li class="item">
                            <a class="link-nav" href="#"> settings </a>
                          </li>
                          <li class="item">
                            <a class="link-nav" href="/login"> logOut </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="user-dropdown-content">
                  <p>Name Surname</p>
                  <ul>
                    <li class="item">
                      <a class="link-nav" href="/dashboard"> new group </a>
                    </li>
                    <li class="item">
                      <a class="link-nav" href="#"> new chat </a>
                    </li>
                    <li class="item">
                      <a class="link-nav" href="#"> contacts </a>
                    </li>
                    <li class="item">
                      <a class="link-nav" href="#"> history </a>
                    </li>
                    <li class="item">
                      <a class="link-nav" href="#"> settings </a>
                    </li>
                    <li class="item">
                      <a class="link-nav" href="/login"> logOut </a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>
